[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Planet RSS Feed for OpenStack
[access "refs/*"]
	owner = group user/AnqiW-qwerty
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/AnqiW-qwerty
	label-Verified = -1..+1 group user/AnqiW-qwerty
	push = group user/AnqiW-qwerty
	read = group user/AnqiW-qwerty
	rebase = group user/AnqiW-qwerty
	removeReviewer = group user/AnqiW-qwerty
	submit = group user/AnqiW-qwerty
[access "refs/heads/*"]
	create = group user/AnqiW-qwerty
	push = +force group user/AnqiW-qwerty
	pushMerge = group user/AnqiW-qwerty
	read = group user/AnqiW-qwerty
[access "refs/tags/*"]
	push = group user/AnqiW-qwerty
	push = +force group user/AnqiW-qwerty
